/* .container1{
   margin-left: 225px;
   padding: 10px;
   display: grid;
   flex-direction: column;
   grid-template-columns: 1fr;
   border: 4px solid black;
   align-items: start;
   width: 800px;
   height: 150px; 
} */

img{
    height: 150px;
}

.hover:hover{

    text-decoration: underline;
    color: red;
}

/* .pictureBox{
    flex: 1;
} */

.textBox{
    position: relative;
    /* flex: 1; */
    text-align: right;
    margin-left: 10px;
    z-index: 2;
}  