.details {
  display: flex;
  align-items: center;
  width: 760px;
  height: 900px;
  border: 1px solid blue;
  margin-left: 180px;
  margin-right: 10px;
  background-color: slategrey;
 

}

#enlargedInput{
    height: 120px;
    width: 460px;
}