.studentList{
  display: flex;
  flex-direction: column;
}

.seasons{
  margin-left: 900px;
  text-align: center;
  position: relative;
  font-size: xx-large;
  white-space: nowrap;
  margin-top: 25px;
}

.total{
  margin-left: 900px;
  text-align: center;
  position: relative;
  font-size: x-large;
  white-space: nowrap;
}